@import url('fonts.css');
@import url('reset.css');
@import url('variables.css');

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--gray10);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: var(--white);
  font-size: inherit;
}

body {
  font-size: inherit;
}

h1 {
  transition: var(--transition);

  font-size: var(--h1-fs);
  line-height: var(--h1-lh);
  font-weight: 500;
}

h2 {
  transition: var(--transition);

    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
    font-weight: 500;
}

h3 {
  transition: var(--transition);

    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
    font-weight: 500;
}

h4 {
  transition: var(--transition);

    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    font-weight: 500;
}

p {
  transition: var(--transition);

    font-size: var(--h5-fs);
    line-height: var(--h5-lh);
    font-weight: 500;
}

small {
  transition: var(--transition);

    font-size: var(--h6-fs);
    line-height: var(--h6-lh);
    font-weight: 500;
}

a {
  border-radius: var(--indent-xs);
  box-shadow: 0 0 0 2px transparent;

  &:focus-visible {
    box-shadow: 0 0 2px 2px var(--focus);
  }
}

button {
  transition: var(--transition);

  font-weight: 500;
  -webkit-tap-highlight-color: transparent; /* For iOS Safari */
}

/* AUTO DETECT USER COLOR SCHEMA */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--gray80);
    background-color: var(--white);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (width < 1366px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

/* Turn off hover effects on touch devices (typically mobile) */
@media (hover: none) {
    .button:hover {
        background-color: initial !important;
        color: initial !important;
    }
}
