.slide {
  position: relative;
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
}

.slide__img {
  display: block;
  width: 100vw;
  height: auto;
  object-fit: cover;
  aspect-ratio: var(--ratio);
}

.parallax {
  height: 100%;
  overflow: hidden;
}

.parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.parallax__img {
  height: 100%;
  max-width: none;
  object-fit: cover;
  background-attachment: fixed;
  transform: translateY(var(--parallax-offset));
}
